In [95]:
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
import pandas as pd

In [96]:
headers={'User Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36 Edg/113.0.1774.42'}
symbol='JPY=X'
url=f'https://finance.yahoo.com/quote/{symbol}'
r=requests.get(url)
#print(r.text)
print(r.status_code)

200

In [97]:
soup=BeautifulSoup(r.text,'html.parser')
print(soup.title.text)

USD/JPY (JPY=X) Live Rate, Chart & News - Yahoo Finance

In [98]:
price=soup.find('fin-streamer',{'class':'Fw(b) Fz(36px) Mb(-4px) D(ib)'}).text
print(price)

134.2930

In [99]:
change=soup.find('fin-streamer',{'class':'Fw(500) Pstart(8px) Fz(24px)'}).text
print(change)

-0.3330

In [100]:
stock=soup.find('div',{'class':'D(ib) Mend(20px)'}).find_all('fin-streamer')[0].text
stock

'134.2930'

In [101]:
url='https://www.imdb.com/chart/top/'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
print(soup.title.text)

Top 250 Movies - IMDb

In [113]:
movie_name = soup.find_all('td',{'class':'titleColumn'})
titles=[]
for m in movie_name:
    titles.append(m.text)
print(titles[0])
titles=numpy.array(titles)

      1.
      The Shawshank Redemption
(1994)

In [119]:
movie_year = soup.find_all('span',{'class':'secondaryInfo'})
year=[]
for m in movie_year:
    year.append(m.text)
print(year[0])
year=numpy.array(year)

(1994)
(1994)

In [120]:
movie_rating = soup.find_all('td',{'class':'ratingColumn imdbRating'})
rating=[]
for m in movie_rating:
    rating.append(m.text)
print(rating[0])
rating=numpy.array(rating)

9.2

In [123]:
df = pd.DataFrame({'Title': titles,
                   'Year': year,
                   'Rating': rating})

                                               Title    Year   Rating
0  \n      1.\n      The Shawshank Redemption\n(1...  (1994)  \n9.2\n
1          \n      2.\n      The Godfather\n(1972)\n  (1972)  \n9.2\n
2        \n      3.\n      The Dark Knight\n(2008)\n  (2008)  \n9.0\n
3  \n      4.\n      The Godfather Part II\n(1974)\n  (1974)  \n9.0\n
4           \n      5.\n      12 Angry Men\n(1957)\n  (1957)  \n9.0\n

In [125]:
df.to_csv('file.csv')

In [126]:
df = pd.read_csv ('file.csv')

     Unnamed: 0                                              Title    Year  \
0             0  \n      1.\n      The Shawshank Redemption\n(1...  (1994)
1             1          \n      2.\n      The Godfather\n(1972)\n  (1972)
2             2        \n      3.\n      The Dark Knight\n(2008)\n  (2008)
3             3  \n      4.\n      The Godfather Part II\n(1974)\n  (1974)
4             4           \n      5.\n      12 Angry Men\n(1957)\n  (1957)
..          ...                                                ...     ...
245         245        \n      246.\n      Life of Brian\n(1979)\n  (1979)
246         246       \n      247.\n      The Iron Giant\n(1999)\n  (1999)
247         247             \n      248.\n      The Help\n(2011)\n  (2011)
248         248              \n      249.\n      Aladdin\n(1992)\n  (1992)
249         249   \n      250.\n      Dances with Wolves\n(1990)\n  (1990)

     Rating
0       9.2
1       9.2
2       9.0
3       9.0
4       9.0
..      ...
245     8.0
246     8.0
247     8.0
248     8.0
249     8.0

[250 rows x 4 columns]